@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

@import url("https://fonts.googleapis.com/css?family=Epilogue&display=swap");

:root {
	--light-blue: #48dbfb;
	--dark-blue: #0d4f8b;
	--light-white: #f1f1f1;
	--dark-cinza: #353b48;
}

html {
	scroll-behavior: smooth;
}

html::selection {
	background-color: var(--light-blue);
}

html::-webkit-scrollbar {
	width: 8px;
	background-color: var(--light-white);
}

html::-webkit-scrollbar-thumb {
	background-color: var(--light-blue);
}

.invisible {
	opacity: 0;
	transition: all 1s;
	filter: blur(5px);
	transform: translateX(-100%);
}

.show {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}

.sticky--nav {
	background-color: var(--light-white);
	padding: 1rem 0;
}

.sticky--nav a {
	color: var(--dark-cinza);
}
